<script type="text/html" id="content">

</script>

<script type="text/html" id="focusListBox">
	<div class="attention_box_box">
		<ul class="attention_box" id="focusList"></ul>
	</div>
	<div class="attention_mask_box" style="display: none;" id="showNoFocusList">
		<div class="mask_top clearfix">
			<span style="background-color: #ff8502;"></span>
			<span style="background-color: #31c145;"></span>
			<span style="background-color: #359af0;"></span>
			<span style="background-color: #ff4d4d;"></span>
			推荐专家
		</div>
		<div class="mask_con">
			<ul class="attention_box" id="noFocusList"></ul>
		</div>
		<span class="next" id="jumpFocus">跳过</span>
	</div>
</script>

<script type="text/html" id="focusList">
<% for (var i = 0, length = list.length; i < length; i++) {
	var focus = list[i] || {};
	var status = focus.status || 0;
	var userNo = focus.userNo || "";
	var realName = focus.realName;
	var nickName = focus.nickName;
	var userName = realName || nickName;
	var tag = focus.tag || "";
	var userImg = focus.personalImg || focus.profileImg || (IMG_PATH + 'user_profile.png');
	var planCount = focus.planCount || 0;
	var continueWin = focus.continueWin || 0;
	var winCount = focus.winCount || 0;
	var profitRate = focus.profitRate || 0;
	var winRate = focus.winRate || 0;
	profitRate = (profitRate+'').replace(/\.\d+/g, '');
	winRate = (winRate+'').replace(/\.\d+/g, '');
%>
	<li class="attention_list_box mt5" userNo="<%=userNo%>">
		<div class="attention_list clearfix">
			<img src="<%=userImg%>">
			<div class="attention_title ml10 fl">
				<div class="attention_titleMan">
					<span><%=userName%></span>
					<% if (continueWin > 1) { %>
						<span class="expert_name"><span class="expert_num"><%=continueWin%></span>连红</span>
					<% } else if(winCount > 0) { %>
						<span class="expert_name">10中<span class="expert_num"><%=winCount%></span></span>
					<% } else if (profitRate > 0) { %>
						<span class="expert_name">盈<span class="expert_num"><%=profitRate%>%</span></span>
					<% } else if (winRate > 0) { %>
						<span class="expert_name">胜<span class="expert_num"><%=winRate%>%</span></span>
					<% } %>
				</div>
				<div class="attention_titleTag"><%=tag%></div>
			</div>
			<div class="attention_inform fr">
				<% if (planCount > 0) { %>
				<span class="attention_num"><%=planCount%></span>
				<% } %>
				<span class="arrow_right attention_right"></span>
			</div>
		</div>
	</li>
<% } %>
</script>

<script type="text/html" id="noFocusList">
<% for (var i = 0, length = list.length; i < length; i++) {
	var focus = list[i] || {};
	var userNo = focus.userNo || "";
	var realName = focus.realName;
	var nickName = focus.nickName;
	var userName = realName || nickName;
	var tag = focus.tag || "";
	var userImg = focus.personalImg || focus.profileImg || (IMG_PATH + 'user_profile.png');
%>
	<li class="attention_list_box" >
		<div class="attention_list clearfix">
			<img src="<%=userImg%>">
			<div class="attention_title ml10 fl">
				<div class="attention_titleMan">
					<span><%=userName%></span>
				</div>
				<div class="attention_titleTag"><%=tag%></div>
			</div>
			<div class="attention_inform fr">
				<span class="attention_focus" status="1" userNo="<%=userNo%>">+关注</span>
			</div>
		</div>
	</li>
<% } %>
</script>

<script type="text/html" id="userListBox">
	<div class="nav" id="groupList"></div>
	<div class="mt5 clearfix" id="userList"></div>
</script>

<script type="text/html" id="groupList">
<% for (var i = 0, length = list.length; i < length; i++) {
	var group = list[i] || {};
	var groupNo = group.groupNo;
	var name = group.name;
%>
<span class="item" groupNo="<%=groupNo%>">
	<span><%=name%></span>
</span>
<% } %>
</script>

<script type="text/html" id="userList">
<% for (var i = 0, length = list.length; i < length; i++) {
	var user = list[i] || {};
	var userNo = user.userNo;
	var realName = user.realName;
	var nickName = user.nickName;
	var profileImg = user.profileImg;
	var personalImg = user.personalImg;
	var userImg = personalImg || profileImg || (IMG_PATH + 'user_profile.png');
	var userName = realName || nickName;
	var userTag = user.tag;
	var continueWin = user.continueWin || 0;
	var winCount = user.winCount || 0;
	var profitRate = user.profitRate || 0;
	var winRate = user.winRate || 0;
	profitRate = (profitRate+'').replace(/\.\d+/g, '');
	winRate = (winRate+'').replace(/\.\d+/g, '');
	var redDot = !!user.redDot;
%>
<div class="msg" userNo="<%=userNo%>">
	<img class="icon_span img40 mb10" src="<%=userImg%>"></img>
	<% if (redDot) {%>
		<span class="red_dot"></span>
	<% } %>
	<br/><%=userName%>
	<% if (continueWin > 1) { %>
		<span class="expert_name"><span class="expert_num"><%=continueWin%></span>连红</span>
	<% } else if(winCount > 0) { %>
		<span class="expert_name">10中<span class="expert_num"><%=winCount%></span></span>
	<% } else if (profitRate > 0) { %>
		<span class="expert_name">盈<span class="expert_num"><%=profitRate%>%</span></span>
	<% } else if (winRate > 0) { %>
		<span class="expert_name">胜<span class="expert_num"><%=winRate%>%</span></span>
	<% } %>
</div>
<% } %>
</script>