<script type="text/html" id="content">
<!--<div class="ui-flex tab_nav mb5" id="typeList">
	<div class="ui-flex_item" financeType="1">彩金</div>
	<div class="ui-flex_item" financeType="0">米粒</div>
</div>-->
<table align="center">
	<thead>
		<tr>
			<th width="24%">时间</th>
			<th width="38%">金额</th>
			<th width="38%">获取渠道</th>
		</tr>
	</thead>
	<tbody class="charge_con" id="financeRecordList" align="center"></tbody>
</table>
</script>

<script type="text/html" id="financeRecordList">
<% for (var i = 0, length = list.length; i < length; i++) {
	var financeRecord = list[i] || {};
	var financeType = financeRecord.financeType;
	var financeTypeMap = {'0': '米粒', '1': '彩金'};
	var type = financeRecord.type;//类型, 1=消费, 2=收益, 3=提款, 4=充值
	var amount = financeRecord.amount/100 || 0;
	var remark = financeRecord.remark || '';
	var createTime = financeRecord.createTime || "";
	var matchTime = createTime.match(/\d{4}-(\d{2}-\d{2}) (\d{2}:\d{2}):\d{2}/);
	var day = '';
	var time = '';
	if (matchTime) {
		day = matchTime[1];
		time = matchTime[2];
	}
	if (financeType == 0 && type == 1) {
		if (remark.indexOf('优惠券') != -1) {
			remark = '米粒消费('+remark+')';	
		} else {
			remark = '米粒消费';
		}
	}
	if (financeType == 1 && type == 1) {
		if (remark.indexOf('优惠券') != -1) {
			remark = '投注('+remark+')';	
		} else {
			remark = '投注';
		}
	}
	if (type == 1 || type == 3) {
		amount = '-' + amount;	
	}
	if (type == 1) {
		remark = remark || '消费';
	} else if (type == 2) {
		remark = remark || '收益';
	} else if (type == 3) {
		remark = remark || '提款';
	} else if (type == 4) {
		remark = remark || '充值';
	}
%>
	<tr>
		<td><%=day%><br><%=time%></td>
		<td><%=amount%><%=financeTypeMap[financeType]%></td>
		<td><%=remark%></td>
	</tr>
<% } %>
</script>