<script type="text/html" id="content">
<% 
	var replayNo = replay.replayNo || "";
	var content = replay.content || "";
	var upCount = replay.upCount || 0;
	var downCount = replay.downCount || 0;
	var shareCount = replay.shareCount || 0;
	var resourceList = replay.resourceList || [];
	var user = replay.user || {};
	var userNo = user.userNo;
	var realName = user.realName;
	var nickName = user.nickName;
	var profileImg = user.profileImg;
	var personalImg = user.personalImg;
	var userImg = personalImg || profileImg || (IMG_PATH + 'user_profile.png');
	var userName = realName || nickName;
	var userTag = user.tag || "";
	var userRemark = user.remark || "";
%>
	<div class="matchInfo_box">
		<div class="expertInfo_top color9" id="userMore" userNo="<%=userNo%>">
			<div class="clearfix">
				<img class="icon_span img33 fl" src="<%=userImg%>"/>
				<div class="expertInfo">
					<p class="color3 clearfix"><span class="fl"><%=userName%></span><span class="fr share" id="focus" style="display: none;">+ 关注</span></p>
					<p class="size10 color9 ellipsis"><%=userRemark%></p>
				</div>
			</div>
		</div>
		<style type="text/css">
			.plan {
				-moz-user-select:none;/*火狐*/
				-webkit-user-select:none;/*webkit浏览器*/
				-ms-user-select:none;/*IE10*/
				-khtml-user-select:none;/*早期浏览器*/
				user-select:none;
			}
		</style>
		<div class="plan" id="replayDetail">
			<p class="planDesc"><pre style="white-space:pre-wrap;line-height:25px;"><%=content%></pre></p>
			<% for (var i = 0, length = resourceList.length; i < length; i++) { %>
			<img class="planpic img-responsive" src="<%=resourceList[i]%>" onerror="this.style.display='none'">
			<% } %>
			<div class="oprate">
				<span class="icon_span icon_zan" id="upCount" replayNo="<%=replayNo%>"></span><span class="num" id="upCountNum"><%=upCount%></span>
				<span class="icon_span icon_cai" id="downCount" replayNo="<%=replayNo%>"></span><span class="num" id="downCountNum"><%=downCount%></span>
				<span class="icon_span icon_share" id="shareCount" replayNo="<%=replayNo%>"></span><span class="num" id="shareCountNum"><%=shareCount%></span>
			</div>
		</div>
	</div>
</script>