<script type="text/html" id="content">
<h1 class="title">2017联合会杯新用户送3彩金</h1>
<div class="list_box">
	<div class="search_box">
		<div>
			<form onsubmit="return false;">
				<input class="input_field" placeholder="用户名" id="userName">
				<input class="btn ml20" type="reset" value="重置">
				<input class="btn ml20" type="submit" value="搜索" id="searchSubmit">
			</form>
		</div>
	</div>
	<div class="table_box mt20">
		<table>
			<thead>
				<tr>
					<th width="120">昵称</th>
					<th width="70">赠送彩金</th>
					<th width="140">时间</th>
				</tr>
			</thead>
			<tbody id="activityConfederationsCupUserList"></tbody>
		</table>
		<div id="pageCodeBox"></div>
	</div>
</div>
</script>

<script type="text/html" id="activityConfederationsCupUserList">
<% 
var length = list.length;
for ( var i = 0; i < length; i++) {
	var row = list[i] || {};
	var rowId = row.rowId;
	var nickName = row.nickName;
	var presentAmount = row.presentAmount/100;
	var createTime = row.createTime;
%>
	<tr>
		<td><%=nickName%></td>
		<td><%=presentAmount%></td>
		<td><%=createTime%></td>
	</tr>
<% } %>
<% if (length > 0) { %>
<tr>
	<td>总计</td>
	<td><%=totalPresentAmount/100%></td>
	<td></td>
</tr>
<% } %>
</script>