<script type="text/html" id="content">
<h1 class="title">极限追盘</h1>
<div class="list_box">
	<div class="search_box">
		<div>
			<form onsubmit="return false;">
				<input class="input_field" placeholder="球队名称" id="teamName"/>
				<span class="select_box ml20">
					<select id="type">
						<option value="0">全部</option>
						<option value="1">胜平负</option>
						<option value="2">输赢盘</option>
						<option value="3">大小球</option>
					</select>
					<span class="icon_sel"><span class="arrow_down"></span></span>
				</span>
				<span class="select_box ml20">
					<select id="status">
						<option value="0">全部</option>
					</select>
					<span class="icon_sel"><span class="arrow_down"></span></span>
				</span>
				<span class="select_box ml20">
					<select id="publish">
						<option>全部</option>
						<option value="1">上架</option>
						<option value="0">下架</option>
					</select>
					<span class="icon_sel"><span class="arrow_down"></span></span>
				</span>
				<input class="btn ml20" type="reset" value="重置" />
				<input class="btn ml20" type="submit" value="搜索" id="searchSubmit"/>
				<input class="btn ml30 mr30" type="button" value="新增极限数据" id="addJxzp"/>
			</form>
		</div>
	</div>
	<div class="table_box mt20">
		<table>
			<thead>
				<tr>
					<th width="60">类型</th>
					<th width="100">球队名称</th>
					<th>比赛</th>
					<th width="60">状态</th>
					<th width="60">近期数</th>
					<th width="60">历史数</th>
					<th width="60">上下架</th>
					<th width="140">失效时间</th>
					<th width="140">创建时间</th>
					<th width="90">操作</th>
				</tr>
			</thead>
			<tbody id="jxzpList"></tbody>							
		</table>
		<div id="pageCodeBox"></div>
	</div>
</div>
</script>

<script type="text/html" id="jxzpList">
<% for (var i = 0, length = list.length; i < length; i++) {
	var jxzp = list[i] || {};
	var jxzpId = jxzp.jxzpId;
	var type = jxzp.type;
	var typeMap = {'1': '胜平负', '2': '输赢盘', '3': '大小球'};
	var teamName = jxzp.teamName;
	var league = jxzp.league;
	var home = jxzp.home;
	var away = jxzp.away; 
	var beginTime = jxzp.beginTime && jxzp.beginTime.replace(/\d{4}-(\d{2}-\d{2} \d{2}:\d{2}):\d{2}/, "$1") || "";
	var status = jxzp.status;
	var statusMap = {'1': {'1': '连胜', '2': '连平', '3': '连负'}, '2': {'1': '连赢盘', '2': '连输盘'}, '3': {'1': '大球', '2': '小球'}};
	var recentContinue = jxzp.recentContinue;
	var historyContinue = jxzp.historyContinue;
	var publish = jxzp.publish;
	var publishMap = {'0': '下架', '1': '上架'};
	var closeTime = jxzp.closeTime;
	var createTime = jxzp.createTime;
	var match = "["+league+"] "+home+" vs "+away+"("+beginTime+")";
%>
	<tr>
		<td><%=typeMap[type]%></td>
		<td><%=teamName%></td>
		<td title="<%=match%>"><%=match%></td>
		<td><%=statusMap[type][status]%></td>
		<td><%=recentContinue%></td>
		<td><%=historyContinue%></td>
		<td><%=publishMap[publish]%></td>
		<td><%=closeTime%></td>
		<td><%=createTime%></td>
		<td>
			<a class="examine modify" jxzpId="<%=jxzpId%>">修改</a>
			<a class="examine publish" jxzpId="<%=jxzpId%>" publish="<%=publish==1?0:1%>"><%=publish==1?'下架':'上架'%></a>
		</td>
	</tr>
<% } %>
</script>