<script type="text/html" id="content">
<h1 class="title">日期统计</h1>
<div class="list_box">
	<div class="search_box">
		<div>
			<form onsubmit="return false;">
				<input class="input_field" placeholder="开始时间" readonly="1" id="beginTime">
				<input class="input_field ml20" placeholder="结束时间" readonly="1" id="endTime">
				<input class="btn ml20" type="reset" value="重置">
				<input class="btn ml20" type="submit" value="搜索" id="searchSubmit">
			</form>
		</div>
	</div>
	<div class="table_box mt10">
		<style type="text/css">
			.rightBox table th {
				line-height: 20px;
				vertical-align: middle;	
			}
		</style>
		<table>
			<thead>
				<tr style="white-space: normal;">
					<th width="80">日期</th>
					<th width="100">方案数量<br>当天(截止)</th>
					<th width="280">当天(截止)用户数量<br>总 | 手机 | 消费 | 现金消费</th>
					<th width="280">当天(截止)订单数量<br>总 = 方案 + 充值 + 极限追盘</th>
					<th width="330">当天(截止)订单金额<br>总 = 方案 + 充值 + 极限追盘</th>
					<th width="280">当天(截止)消费数量<br>总 = 现金 + 充值 + 收益</th>
					<th width="330">当天(截止)消费金额<br>总 = 现金 + 充值 + 收益</th>
					<th width="280">当天(截止)充值数量<br>总 = 用户 + 平台</th>
					<th width="300">当天(截止)充值金额<br>总 = 用户 + 平台</th>
					<th width="280">当天(截止)收益数量<br>总 = 推荐 + 推广</th>
					<th width="300">当天(截止)收益金额<br>总 = 推荐 + 推广</th>
					<!-- <th width="85">平台收益数量<br>当天(截止)</th>
					<th width="85">平台收益金额<br>当天(截止)</th> -->
					<th width="120">当天(截止)提款数量<br>待提款 | 已提款</th>
					<th width="120">当天(截止)提款金额<br>待提款 | 已提款</th>
				</tr>
			</thead>
			<tbody id="statisticsDateList"></tbody>
		</table>
		<div id="pageCodeBox"></div>
	</div>
</div>
</script>

<script type="text/html" id="statisticsDateList">
<% for (var i = 0, length = list.length; i < length; i++) {
	var statisticsDate = list[i] || {};
	var date = statisticsDate.date;
	var userCount = statisticsDate.userCount;
	var mobileUserCount = statisticsDate.mobileUserCount;
	var consumeUserCount = statisticsDate.consumeUserCount;
	var cashConsumeUserCount = statisticsDate.cashConsumeUserCount;
	var planCount = statisticsDate.planCount;
	var orderCount = statisticsDate.orderCount;
	var orderAmount = statisticsDate.orderAmount/100;
	var planOrderCount = statisticsDate.planOrderCount;
	var planOrderAmount = statisticsDate.planOrderAmount/100;
	var chargeOrderCount = statisticsDate.chargeOrderCount;
	var chargeOrderAmount = statisticsDate.chargeOrderAmount/100;
	var jxzpOrderCount = statisticsDate.jxzpOrderCount;
	var jxzpOrderAmount = statisticsDate.jxzpOrderAmount/100;
	var consumeCount = statisticsDate.consumeCount;
	var consumeAmount = statisticsDate.consumeAmount/100;
	var cashConsumeCount = statisticsDate.cashConsumeCount;
	var cashConsumeAmount = statisticsDate.cashConsumeAmount/100;
	var chargeConsumeCount = statisticsDate.chargeConsumeCount;
	var chargeConsumeAmount = statisticsDate.chargeConsumeAmount/100;
	var incomeConsumeCount = statisticsDate.incomeConsumeCount;
	var incomeConsumeAmount = statisticsDate.incomeConsumeAmount/100;
	var incomeCount = statisticsDate.incomeCount;
	var incomeAmount = statisticsDate.incomeAmount/100;
	var recommendIncomeCount = statisticsDate.recommendIncomeCount;
	var recommendIncomeAmount = statisticsDate.recommendIncomeAmount/100;
	var spreadIncomeCount = statisticsDate.spreadIncomeCount;
	var spreadIncomeAmount = statisticsDate.spreadIncomeAmount/100;
	//var platformIncomeCount = statisticsDate.platformIncomeCount;
	//var platformIncomeAmount = statisticsDate.platformIncomeAmount/100; 
	var chargeCount = statisticsDate.chargeCount;
	var chargeAmount = statisticsDate.chargeAmount/100;
	var userChargeCount = statisticsDate.userChargeCount;
	var userChargeAmount = statisticsDate.userChargeAmount/100;
	var platformChargeCount = statisticsDate.platformChargeCount;
	var platformChargeAmount = statisticsDate.platformChargeAmount/100;
	var withdrawingCount = statisticsDate.withdrawingCount;
	var withdrawingAmount = statisticsDate.withdrawingAmount/100;
	var withdrewCount = statisticsDate.withdrewCount;
	var withdrewAmount = statisticsDate.withdrewAmount/100;
	var userCountEnd = statisticsDate.userCountEnd;
	var mobileUserCountEnd = statisticsDate.mobileUserCountEnd;
	var consumeUserCountEnd = statisticsDate.consumeUserCountEnd;
	var cashConsumeUserCountEnd = statisticsDate.cashConsumeUserCountEnd;
	var planCountEnd = statisticsDate.planCountEnd;
	var orderCountEnd = statisticsDate.orderCountEnd;
	var orderAmountEnd = statisticsDate.orderAmountEnd/100;
	var planOrderCountEnd = statisticsDate.planOrderCountEnd;
	var planOrderAmountEnd = statisticsDate.planOrderAmountEnd/100;
	var chargeOrderCountEnd = statisticsDate.chargeOrderCountEnd;
	var chargeOrderAmountEnd = statisticsDate.chargeOrderAmountEnd/100;
	var jxzpOrderCountEnd = statisticsDate.jxzpOrderCountEnd;
	var jxzpOrderAmountEnd = statisticsDate.jxzpOrderAmountEnd/100;
	var consumeCountEnd = statisticsDate.consumeCountEnd;
	var consumeAmountEnd = statisticsDate.consumeAmountEnd/100;
	var cashConsumeCountEnd = statisticsDate.cashConsumeCountEnd;
	var cashConsumeAmountEnd = statisticsDate.cashConsumeAmountEnd/100;
	var chargeConsumeCountEnd = statisticsDate.chargeConsumeCountEnd;
	var chargeConsumeAmountEnd = statisticsDate.chargeConsumeAmountEnd/100;
	var incomeConsumeCountEnd = statisticsDate.incomeConsumeCountEnd;
	var incomeConsumeAmountEnd = statisticsDate.incomeConsumeAmountEnd/100;
	var incomeCountEnd = statisticsDate.incomeCountEnd;
	var incomeAmountEnd = statisticsDate.incomeAmountEnd/100;
	var recommendIncomeCountEnd = statisticsDate.recommendIncomeCountEnd;
	var recommendIncomeAmountEnd = statisticsDate.recommendIncomeAmountEnd/100;
	var spreadIncomeCountEnd = statisticsDate.spreadIncomeCountEnd;
	var spreadIncomeAmountEnd = statisticsDate.spreadIncomeAmountEnd/100;
	//var platformIncomeCountEnd = statisticsDate.platformIncomeCountEnd;
	//var platformIncomeAmountEnd = statisticsDate.platformIncomeAmountEnd/100;
	var chargeCountEnd = statisticsDate.chargeCountEnd;
	var chargeAmountEnd = statisticsDate.chargeAmountEnd/100;
	var userChargeCountEnd = statisticsDate.userChargeCountEnd;
	var userChargeAmountEnd = statisticsDate.userChargeAmountEnd/100;
	var platformChargeCountEnd = statisticsDate.platformChargeCountEnd;
	var platformChargeAmountEnd = statisticsDate.platformChargeAmountEnd/100;
	var withdrawingCountEnd = statisticsDate.withdrawingCountEnd;
	var withdrawingAmountEnd = statisticsDate.withdrawingAmountEnd/100;
	var withdrewCountEnd = statisticsDate.withdrewCountEnd;
	var withdrewAmountEnd = statisticsDate.withdrewAmountEnd/100;
	userCount = userCount+"("+userCountEnd+")";
	mobileUserCount = mobileUserCount+"("+mobileUserCountEnd+")";
	consumeUserCount = consumeUserCount+"("+consumeUserCountEnd+")";
	cashConsumeUserCount = cashConsumeUserCount+"("+cashConsumeUserCountEnd+")";
	planCount += "("+planCountEnd+")";
	orderCount += "("+orderCountEnd+")";
	orderAmount += "("+orderAmountEnd+")";
	planOrderCount += "("+planOrderCountEnd+")";
	planOrderAmount += "("+planOrderAmountEnd+")";
	chargeOrderCount += "("+chargeOrderCountEnd+")";
	chargeOrderAmount += "("+chargeOrderAmountEnd+")";
	jxzpOrderCount += "("+jxzpOrderCountEnd+")";
	jxzpOrderAmount += "("+jxzpOrderAmountEnd+")";
	consumeCount += "("+consumeCountEnd+")";
	consumeAmount += "("+consumeAmountEnd+")";
	cashConsumeCount += "("+cashConsumeCountEnd+")";
	cashConsumeAmount += "("+cashConsumeAmountEnd+")";
	chargeConsumeCount += "("+chargeConsumeCountEnd+")";
	chargeConsumeAmount += "("+chargeConsumeAmountEnd+")";
	incomeConsumeCount += "("+incomeConsumeCountEnd+")";
	incomeConsumeAmount += "("+incomeConsumeAmountEnd+")";
	incomeCount += "("+incomeCountEnd+")";
	incomeAmount += "("+incomeAmountEnd+")";
	recommendIncomeCount += "("+recommendIncomeCountEnd+")";
	recommendIncomeAmount += "("+recommendIncomeAmountEnd+")";
	spreadIncomeCount += "("+spreadIncomeCountEnd+")";
	spreadIncomeAmount += "("+spreadIncomeAmountEnd+")";
	//platformIncomeCount += "("+platformIncomeCountEnd+")";
	//platformIncomeAmount += "("+platformIncomeAmountEnd+")";
	chargeCount += "("+chargeCountEnd+")";
	chargeAmount += "("+chargeAmountEnd+")";
	userChargeCount += "("+userChargeCountEnd+")";
	userChargeAmount += "("+userChargeAmountEnd+")";
	platformChargeCount += "("+platformChargeCountEnd+")";
	platformChargeAmount += "("+platformChargeAmountEnd+")";
	withdrawingCount += "("+withdrawingCountEnd+")";
	withdrawingAmount += "("+withdrawingAmountEnd+")";
	withdrewCount += "("+withdrewCountEnd+")";
	withdrewAmount += "("+withdrewAmountEnd+")";
%>
	<tr>
		<td><%=date%></td>
		<td><%=planCount%></td>
		<td><%=userCount%> | <%=mobileUserCount%> | <%=consumeUserCount%> | <%=cashConsumeUserCount%></td>
		<td><%=orderCount%> = <%=planOrderCount%> + <%=chargeOrderCount%> + <%=jxzpOrderCount%></td>
		<td><%=orderAmount%> = <%=planOrderAmount%> + <%=chargeOrderAmount%> + <%=jxzpOrderAmount%></td>
		<td><%=consumeCount%> = <%=cashConsumeCount%> + <%=chargeConsumeCount%> + <%=incomeConsumeCount%></td>
		<td><%=consumeAmount%> = <%=cashConsumeAmount%> + <%=chargeConsumeAmount%> + <%=incomeConsumeAmount%></td>
		<td><%=chargeCount%> = <%=userChargeCount%> + <%=platformChargeCount%></td>
		<td><%=chargeAmount%> = <%=userChargeAmount%> + <%=platformChargeAmount%></td>
		<td><%=incomeCount%> = <%=recommendIncomeCount%> + <%=spreadIncomeCount%></td>
		<td><%=incomeAmount%> = <%=recommendIncomeAmount%> + <%=spreadIncomeAmount%></td>
		<!-- <td><%=platformIncomeCount%></td> -->
		<!-- <td><%=platformIncomeAmount%></td> -->
		<td><%=withdrawingCount%> | <%=withdrewCount%></td>
		<td><%=withdrawingAmount%> | <%=withdrewAmount%></td>
	</tr>
<% } %>
</script>


