<script type="text/html" id="content">
<h1 class="title">出票列表</h1>
<div class="list_box">
	<div class="search_box">
		<div>
			<form onsubmit="return false;">
				<div class="mt20">
					<input class="input_field" placeholder="期号" id="issue"/>
					<span class="select_box ml20">
						<select id="lotteryId">
							<option value="">全部</option>
							<option value="SSQ">双色球</option>
							<option value="DLT">大乐透</option>
							<option value="JSK3">江苏快3</option>
							<option value="GX11X5">广西11选5</option>
							<option value="FC3D">福彩3D</option>
							<option value="JZSPF">竞足胜平负</option>
							<option value="JZRQSPF">竞足让球胜平负</option>
							<option value="JZBF">竞足比分</option>
							<option value="JZZJQ">竞足总进球</option>
							<option value="JZBQC">竞足半全场</option>
							<option value="JZHHGG">竞足混合过关</option>
							<option value="JLSF">竞篮胜负</option>
							<option value="JLRFSF">竞篮让分胜负</option>
							<option value="JLSFC">竞篮胜分差</option>
							<option value="JLDXF">竞篮大小分</option>
							<option value="JLHHGG">竞篮混合过关</option>
							<option value="SJBGJ">世界杯冠军</option>
							<option value="SJBGYJ">世界杯冠亚军</option>
						</select>
						<span class="icon_sel"><span class="arrow_down"></span></span>
					</span>
					<span class="select_box ml20">
						<select id="status">
							<option value="">全部</option>
							<option value="0">未出票</option>
							<option value="1">出票失败</option>
							<option value="2">已出票待开奖</option>
							<option value="3">未中奖</option>
							<option value="4">已中奖</option>
							<option value="5">已撤单</option>
							<option value="-1">已出票待开奖+未中奖+已中奖</option>
							<option value="-2">未出票+出票失败+已撤单</option>
						</select>
						<span class="icon_sel"><span class="arrow_down"></span></span>
					</span>
					<input class="input_field ml20" placeholder="用户" id="userName"/>
					<input class="input_field ml20" placeholder="供应商" id="supplierName"/>
				</div>
				<div class="mt20">
					<input class="input_field" placeholder="订单id" id="orderId"/>
					<input class="input_field ml20" placeholder="票id" id="ticketId"/>
					<input class="input_field ml20" placeholder="平台id" id="platformId"/>
					<input class="input_field ml20" placeholder="出票编号" id="printNo"/>
				</div>
				<div class="search_box mt20">
					<input class="input_field" placeholder="开始时间" readonly="1" id="beginTime"/>
					<input class="input_field ml20" placeholder="结束时间" readonly="1" id="endTime"/>
					<input class="btn ml20" type="reset" value="重置"/>
					<input class="btn ml20" type="submit" value="搜索" id="searchSubmit"/>
				</div>
			</form>
		</div>
	</div>
	<div class="table_box mt20">
		<table>
			<thead>
				<tr>
					<th width="80">期号</th>
					<th width="80">彩种</th>
					<th width="80">状态</th>
					<th width="40">注数</th>
					<th width="40">倍数</th>
					<th width="80">金额</th>
					<th width="40">内容</th>
					<th width="80">奖金</th>
					<th width="80">税前奖金</th>
					<th width="140">用户</th>
					<th width="90">供应商</th>
					<th width="60">订单id</th>
					<th width="60">票id</th>
					<th width="60">平台id</th>
					<th width="60">出票编码</th>
					<th width="130">出票时间</th>
					<th width="130">创建时间</th>
				</tr>
			</thead>
			<tbody id="ticketList"></tbody>
		</table>
		<div id="pageCodeBox"></div>
	</div>
</div>
</script>

<script type="text/html" id="ticketList">
<% var length = list.length;
	for(var i = 0; i < length; i++) {
		var ticket = list[i] || {};
		var ticketId = ticket.ticketId;
		var orderId = ticket.orderId;
		var nickName = ticket.nickName;
		var realName = ticket.realName;
		var userName = nickName;
		if (realName != '') {
			userName += '('+realName+')';
		}
		var supplierName = ticket.supplierName;
		var lotteryId = ticket.lotteryId;
		var lotteryName = ticket.lotteryName;
		var matchTypeMap = {'JZSPF': 1, 'JZRQSPF': 1, 'JZBF': 1, 'JZZJQ': 1, 'JZBQC': 1, 'JZHHGG': 1, 'JLSF': 2, 'JLRFSF': 2, 'JLSFC': 2, 'JLDXF': 2, 'JLHHGG': 2};
		var matchType = matchTypeMap[lotteryId];	
		var status = ticket.status;
		var statusMap = {'0': '未出票', '1': '出票失败', '2': '已出票待开奖', '3': '未中奖', '4': '已中奖', '5': '已撤单'};
		var unit = ticket.unit;
		var multiple = ticket.multiple;
		var amount = ticket.amount/100;
		var issue = ticket.issue;
		var platformId = ticket.platformId;
		var prizeAmount = ticket.prizeAmount/100;
		var pretaxPrizeAmount = ticket.pretaxPrizeAmount/100;
		var printNo = ticket.printNo;
		var printTime = ticket.printTime;
		var createTime = ticket.createTime;
%>
<tr>
	<td><%=issue%></td>
	<td><%=lotteryName%></td>
	<td><%=statusMap[status]%></td>
	<td><%=unit%></td>
	<td><%=multiple%></td>
	<td><%=amount%></td>
	<td><a class="examine" ticketId="<%=ticketId%>" matchType="<%=matchType%>" showFormat>查看</a></td>
	<td><%=prizeAmount%></td>
	<td><%=pretaxPrizeAmount%></td>
	<td><%=userName%></td>
	<td><%=supplierName%></td>
	<td><%=orderId%></td>
	<td><%=ticketId%></td>
	<td><%=platformId%></td>
	<td>
		<% if(printNo) { %>
			<a class="examine" printNo="<%=printNo%>">查看</a>
		<% } %>
	</td>
	<td><%=printTime%></td>
	<td><%=createTime%></td>
</tr>
<% } %>
<% if(length > 0) {%>
<tr>
	<td>总计</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td><%=totalAmount%></td>
	<td></td>
	<td><%=totalPrizeAmount%></td>
	<td><%=totalPretaxPrizeAmount%></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<% } %>
</script>

<script type="text/html" id="matchList">
	<% 
		var matchLength = matchList.length;
		for (var i = 0; i < matchLength; i++) {
			var match = matchList[i] || {};
			var recommend = match.recommend || [];
			var prize = match.prize || [];
			var matchId = match.matchId || 0;
			var oddsId = match.oddsId || 0;
			var bettypeContent = match.bettypeContent || "";
			var recommendLength = recommend.length;
			if (matchId <= 0 || oddsId <= 0 || !recommend || recommendLength <= 0 || !bettypeContent) {
				continue;
			}
			match.beginTime = match.beginTime && match.beginTime.replace(/\d{4}-(\d{2}-\d{2} \d{2}:\d{2}):\d{2}/, "$1") || "";
			var nullOdds = '--';//赔率为空显示值
			var concede = match.concede;
			var bettypeOdds = match.bettypeOdds || {};
			var bettype = match.bettypeValue || {};
			var recommendMap = {};
			for (var j = 0; j < recommendLength; j++) {
				recommendMap[recommend[j]] = true;
			}
			var bettypeResult= match.bettypeResult|| {};
			var number = match.number || "";
	%>
	<div class="matchCon_box">
		<div class="matchCon_wrap">
			<div class="matchCon clearfix">
				<span class="match_name" style="<%=matchType == 2 ? 'color:#003cff;' : '' %>"><span class="color3 mr5"><%=number%></span><%=match.league%></span>
				<div class="match_time"><%=match.beginTime%></div>
			</div>
			<div class="ui-flex color3">
				<div class="ui-flex_item ellipsis"><%=#matchType == 2 ? match.away : match.home %></div>
				 <% if (match.result) { %>
					<% if (bettypeContent == "BQC") { %>
					<span class="score"><%=match.result%>(<%=match.halfResult%>)</span>
					<% } else { %>
					<span class="score"><%=match.result%></span>
					<% } %>
				<% } else { %>
					vs
				<% } %> 
				<div class="ui-flex_item ellipsis textR"><%=#matchType == 2 ? match.home : match.away %></div>
			</div>
		<% if (bettypeContent == "SPF" || bettypeContent == "RQSPF") { %>
			<div class="ui-flex flex_wrap pl40">
				<div class="concede"><%=concede > 0 ? '+'+concede : concede%></div>
				<div class="textBar ui-flex_item <%=recommendMap["S"]?'active':''%>">主胜 <%=bettypeOdds["S"]%><%=#bettypeResult["S"]?'<span class="icon_result"></span>':""%></div>
				<div class="textBar ui-flex_item ml10 <%=recommendMap["P"]?'active':''%>">平局 <%=bettypeOdds["P"]%><%=#bettypeResult["P"]?'<span class="icon_result"></span>':""%></div>
				<div class="textBar ui-flex_item ml10 <%=recommendMap["F"]?'active':''%>">客胜 <%=bettypeOdds["F"]%><%=#bettypeResult["F"]?'<span class="icon_result"></span>':""%></div>
			</div>
		<% } else if (bettypeContent == "DXF") { %>
			<div class="ui-flex flex_wrap">
				<div class="textBar ui-flex_item <%=recommendMap["D"]?'active':''%>">大分 <%=bettypeOdds["D"]%><%=#bettypeResult["D"]?'<span class="icon_result"></span>':""%></div>
				<div class="textBar ui-flex_item ml10" style="color: #f63946;">总分 <%=concede%></div>
				<div class="textBar ui-flex_item ml10 <%=recommendMap["X"]?'active':''%>">小分 <%=bettypeOdds["X"]%><%=#bettypeResult["X"]?'<span class="icon_result"></span>':""%></div>
			</div>
		<% } else if (bettypeContent == "RFSF" || bettypeContent == "SF") { %>
			<div class="ui-flex flex_wrap">
				<div class="textBar ui-flex_item <%=recommendMap["F"]?'active':''%>">客胜 <%=bettypeOdds["F"]%><%=#bettypeResult["F"]?'<span class="icon_result"></span>':""%></div>
				<% if (bettypeContent == "RFSF") { %>
					<div class="textBar ui-flex_item ml10" style="<%=concede > 0 ? 'color: #f63946' : 'color: #0c9862'%>">主 <%=#concede > 0 ? '+'+concede : concede%></div>
				<% } %>
				<div class="textBar ui-flex_item ml10 <%=recommendMap["S"]?'active':''%>">主胜 <%=bettypeOdds["S"]%><%=#bettypeResult["S"]?'<span class="icon_result"></span>':""%></div>
			</div>
		<% } else { %>
			<div class="ui-flex flex_wrap">
				<% for (var j = 0; j < recommendLength; j++) { %>
				<div class="textBar ui-flex_item <%=j>0?'ml10':''%> active"><%=bettype[recommend[j]]||''%> <%=bettypeOdds[recommend[j]]||nullOdds%><%=#bettypeResult[recommend[j]]?'<span class="icon_result"></span>':""%></div>
				<% } %>
				<% 
				if (prize.length <= 0) {
					for (var name in bettypeResult) {
						if (!bettypeResult[name]) {
							continue;
						}
				%>
					<div class="textBar ui-flex_item ml10"><%=bettype[name]||''%> <%=bettypeOdds[name]||nullOdds%><span class="icon_result"></span></div>	
				<%
					}
				}
				%>
			</div>
		<% } %>
		</div>
	</div>
	<% } %>
</script>